<div class="row">
  <div class="column">
    <ul class="breadcrumbs">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="panel">
      <table width="100%">
        <thead>
          <tr>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @email_notifiers %>
            <tr>
              <td>There are no email alerts</td>
            </tr>
          <% else %>
            <% @email_notifiers.each do |monitor| %>
              <tr>
                <td></td>
                <td></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="row" style="margin-top:15px;">
        <div class="columns">
          <a href="<%= new_ragios_monitor_path %>" class="button tiny"><i class="fi-plus icon"></i>Add New Email</a>
        </div>
      </div>
    </div>
  </div>
</div>
