<%= javascript_include_tag "notifications" %>
<div class="row">
  <div class="column">
    <ul class="breadcrumbs">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="column medium-8">
    <div class="panel">
      <table width="100%">
        <thead>
          <tr>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @email_notifiers %>
            <tr>
              <td>There are no alert emails</td>
            </tr>
          <% else %>
            <% @email_notifiers.each do |monitor| %>
              <tr>
                <td></td>
                <td></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="column medium-4">
    <div class="panel">
      <form>
        <div class="row">
          <div class="columns">
            <label>Add New Email <small>required</small>
              <input type="text" name="title" required>
            </label>
            <!--<small class="error">A Title is required.</small>-->
          </div>
        </div>
        <div class="row">
          <div class="columns">
            <a href="<%= new_ragios_monitor_path %>" class="button tiny"><i class="fi-plus icon"></i>Submit</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
