##################################################################
#             This is an example environment file.               #
#                 Rename this file to '.env'.                    #
##################################################################

RAGIOS_SERVER_USERNAME=
RAGIOS_SERVER_PASSWORD=
RAGIOS_SERVER_URL=
RAGIOS_SERVER_PORT=

SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_DOMAIN=
SMTP_ADDRESS=
