Hi <%= @firstname %>,

<p>We like to protect your privacy. Please verify your email address by clicking the link below:</p>

<p><a href="<%= @verification_url %>"><%= @verification_url %></a></p>

<p>Happy Monitoring.</p>

-- The Maestro Team
