<section id="header">
  <div class="row">
    <div class="column">
      <h1>Maestro</h1>
    </div>
  </div>
</section>
<section id="sub-header">
  <div class="row">
    <div class="column large-6 small-6 medium-6">
      <p class="caption">Monitor your website with a real web browser</p>
      <p class="caption">Discover errors before your users</p>
      <p class="caption">Receive screenshots when we detect an error</p>
    </div>
    <div class="column large-6 small-6 medium-6">
      <p class="caption">Register here. Get started.</p>
    </div>
  </div>
</section>
