<%= form_for(@ragios_monitor, html: { data: { abide: '' }}) do |f| %>
  <% if @ragios_monitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ragios_monitor.errors.count, "error") %> prohibited this ragios_monitor from being saved:</h2>
      <ul>
        <% @ragios_monitor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="columns small-6">
      <label>Title <small>required</small>
        <input type="text" name="title" required>
      </label>
      <small class="error">A Title is required.</small>
    </div>
    <div class="columns small-6">
      <label>URL <small>required</small>
        <input type="text" name="url" required>
      </label>
      <small class="error">A URL is required</small>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-6">
      <label>Run this monitor every?
        <div class="row">
          <div class="columns small-6">
            <label>Hours
              <input type="number" name="hours" placeholder="0"  min="0" />
            </label>
          </div>
          <div class="columns small-6">
            <label>Minutes
              <input type="number" name="minutes" value="5"  min="0" />
            </label>
          </div>
        </div>
      </label>
    </div>
    <div class="columns medium-6">
      <label>Monitor Type</label>
      <input type="radio" name="monitor_type" value="http_check" id="http_check"><label for="http_check">Http check</label>
      <input type="radio" name="monitor_type" value="real_browser_monitor" id="real_browser_monitor" checked="checked"><label for="real_browser_monitor">Real Browser Monitor</label>
    </div>
  </div>

  <div id="validations">
    <div class="row">
      <div class="columns">
        <label>Validations & Actions
          <div id="editor" name="code"></div>
        </label>
        <span id="error" >

        </span>
        <script id="syntax-error-template" type="text/template">
          <div id="syntax-error" class="search-results">{{ error }}</div>
        </script>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="columns">
      <a id="test-monitor" href="#" class="button tiny"><i class="fi-wrench icon"></i>Test</a>
      <a id="submit-monitor" href="#" class="button tiny"><i class="fi-arrow-right icon"></i>Submit</a>
    </div>
  </div>
<% end %>
