<div class="row">
  <div class="column">
    <ul class="breadcrumbs">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="columns">
    <h5>Add New Monitor</h5>
  </div>
</div>
<div class="row">
  <div class="columns">
    <div class="panel">
      <%= render 'form' %>
    </div>
  </div>
</div>
